@{
    ViewBag.Title = "Fee Details";
    var className = ViewBag.ClassName as string;
    var type = ViewBag.Type as string;
}

<div class="container mt-5">
    <h2 class="text-center">Fee Status - @type (@className)</h2>
    <hr />

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Student Name</th>
                <th>Roll No</th>
                <th>Status</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 5; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>Student @i</td>
                    <td>R00@i</td>
                    <td>@type</td>
                    <td>@className</td>
                </tr>
            }
        </tbody>
    </table>
</div>
